<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" sizes="32x32" href="/public/images/senaclogo-removebg-preview.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="public/css/default.css" />

  <link rel="stylesheet" href="public/css/header.css" />

  <link rel="stylesheet" href="public/css/home.css" />

  <link rel="stylesheet" href="../public/css/cardapio.css" />

  <link rel="stylesheet" href="public/css/carrinho.css" />

  <link rel="stylesheet" href="public/css/sobre.css" />

  <link rel="stylesheet" href="public/css/footer.css" />


  

  <!-- favicon -->
  <link rel="shortcut icon" sizes="32x32" href="/public/images/senaclogo-removebg-preview.png">

  <meta name="description" content="A confeitaria do Senac proporciona o melhor para o seu bem-estar e alimentação" />
  <link rel="stylesheet" href="public/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>| QtdAlimentos</title>
</head>

<body>
  <header>
    <a href="https://www.senac.br" target="_blank">
      <div class="logo"><i class="fas fa-utensils"></i></div>
    </a>
    <button class="navbar--btnMobile" id="navbar--btnMobile">
      <span class="btnMobile--icon"></span>
    </button>
    <nav class="navbar" id="navbar">
      <div class="navbar--links">
        <a href="/home" class="animateLink" onclick="LinkActive()">
          <div class="link">Home<span class="link--linha"></span></div>
        </a>
        <a href="/admQtd" class="animateLink" onclick="LinkActive()">
          <div class="link">Quantidade<span class="link--linha"></span></div>
        </a>
        <a href="#lanches" class="animateLink" onclick="LinkActive()">
          <div class="link active">Alimentos<span class="link--linha"></span></div>
        </a>
      </div>
      <div class="navbar--login">
        <a href="/home">
          <div class="login">Sair</div>
        </a>
        <div class="toggle-btn" id="_1st-toggle-btn">
          <input type="checkbox" onchange="darkModeToggle()" id="chkDarkMode">
          <span></span>
        </div>
      </div>
    </nav>
  </header>


  <section class="cardapio" id="cardapio">
    <div class="cardapio-comidas">
      <h3 class="h3-cardapio">Comida</h3>
      <div class="cards">
        {{#each rowsC}}
        <div class="card">
          <div class="cardImg">
            {{ imagem }}
            <img {{ imagem }}>
          </div>
          <div class="cardBody">
            <div class="titulo">
              <h2>
                {{ nome }}
              </h2>
              <form method="post" action="/deleteProd/{{ idProduto }}">
                <button type="submit" onclick="certezaExcluir()"><img class="delete" src="/public/images/delete.svg"
                    alt="deletar produto"></button>
              </form>
            </div>
            <div class="text">
              <p>
                Quantidade atual: {{ quantidade }}
              </p>
            </div>
            <form method="post" action="/add-quantidade/{{ idProduto }}">
              <div class="quantidade">
                <input placeholder="Quantidade" class="form-control" min='0' id="total" type="number" name="quantidade">
              </div>
              <button type="submit" class="btnComprar">Enviar</button>
            </form>
            <form method="post" action="/zera-quantidade/{{ idProduto }}">
              <button type="submit" class="btnComprar">Zerar</button>
            </form>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="cardapio-bebidas">
      <h3 class="h3-cardapio">Bebidas</h3>

      <div class="cards">
        {{#each rowsB}}
        <div class="card">
          <div class="cardImg">
            {{ imagem }}
            <img {{ imagem }}>
          </div>
          <div class="cardBody">
            <div class="titulo">
              <h2>
                {{ nome }}
              </h2>
              <form method="post" action="/deleteProd/{{ idProduto }}">
                <button type="submit" onclick="certezaExcluir()"><img class="delete" src="/public/images/delete.svg"
                    alt="deletar produto"></button>
              </form>
            </div>
            <div class="text">
              <p>
                Quantidade atual: {{ quantidade }}
              </p>
            </div>
            <form method="post" action="/add-quantidade/{{ idProduto }}">
              <div class="quantidade">
                <input placeholder="Quantidade" class="form-control" min='0' id="total" type="number" name="quantidade">
              </div>
              <button type="submit" class="btnComprar">Enviar</button>
            </form>

            <form method="post" action="/zera-quantidade/{{ idProduto }}">
              <button type="submit" class="btnComprar">Zerar</button>
            </form>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>

  <footer id="">
    <p>Telefone: (46) 3272-3700<br /></p>
    <p>Instagram: @senacparana</p>
    <p>Endereço: Av. Tupi, 385 - Bortot, Pato Branco - PR, 85504-000</p>
  </footer>

</body>

<script src="../public/js/btn-mobile.js"></script>

<script src="../public/js/btn-mobile.js"></script>

<script src="../public/js/cardapio.js"></script>

<script src="../public/js/carrinho.js"></script>

<script src="/public/js/header.js"></script>

</body>

</html>