<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A confeitaria do Senac proporciona o melhor para o seu bem-estar e alimentação" />
  <link rel="stylesheet" href="public/css/bootstrap.css" />


  <!-- favicon -->
  <link rel="shortcut icon" sizes="32x32" href="/public/images/senaclogo-removebg-preview.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link rel="stylesheet" href="public/css/default.css" />

  <link rel="stylesheet" href="public/css/header.css" />

  <link rel="stylesheet" href="public/css/home.css" />

  <link rel="stylesheet" href="../public/css/cardapio.css" />

  <link rel="stylesheet" href="../public/css/pedidos.css" />

  <link rel="stylesheet" href="public/css/carrinho.css" />

  <link rel="stylesheet" href="public/css/sobre.css" />

  <link rel="stylesheet" href="public/css/footer.css" />

  <link rel="stylesheet" href="public/css/404.css" />

  <title>Projeto Integrador</title>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">


</head>

<body>

  <div class="container">
    <input type="text" id="filtro-id" placeholder="Filtrar por ID">
    <input type="text" id="filtro-produto" placeholder="Filtrar por Produto">
    <input type="text" id="filtro-cliente" placeholder="Filtrar por Cliente">
    <input type="text" id="filtro-preco" placeholder="Filtrar por Preço">
    <input type="text" id="filtro-quantidade" placeholder="Filtrar por Quantidade">
    <input type="text" id="filtro-data" placeholder="Filtrar por Data">
    <button class="button-22" onclick="filtrar()">Filtrar</button>
  </div>

  <div class="container">
    <div class="table-wrapper">
      <table class="table-pedidos">
        <thead>
          <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Cliente</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          {{#each pedidos}}
          <tr>
            <td>{{idPedido}}</td>
            <td>{{produto}}</td>
            <td>{{cliente}}</td>
            <td>{{preco}}</td>
            <td>{{quantidade}}</td>
            <td>{{Data}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</body>
</div>

<script>
  function filtrar() {
    var inputId, inputProduto, inputCliente, inputPreco, inputQuantidade, inputData, tabela, tr, tdId, tdProduto, tdCliente, tdPreco, tdQuantidade, tdData, i, valorId, valorProduto, valorCliente, valorPreco, valorQuantidade, valorData;
    inputId = document.getElementById("filtro-id");
    inputProduto = document.getElementById("filtro-produto");
    inputCliente = document.getElementById("filtro-cliente");
    inputPreco = document.getElementById("filtro-preco");
    inputQuantidade = document.getElementById("filtro-quantidade");
    inputData = document.getElementById("filtro-data");
    tabela = document.getElementsByTagName("table")[0];
    tr = tabela.getElementsByTagName("tr");
    for (i = 1; i < tr.length; i++) {
      tdId = tr[i].getElementsByTagName("td")[0];
      tdProduto = tr[i].getElementsByTagName("td")[1];
      tdCliente = tr[i].getElementsByTagName("td")[2];
      tdPreco = tr[i].getElementsByTagName("td")[3];
      tdQuantidade = tr[i].getElementsByTagName("td")[4];
      tdData = tr[i].getElementsByTagName("td")[5];
      if (tdId || tdProduto || tdCliente || tdPreco || tdQuantidade || tdData) {
        valorId = tdId.textContent || tdId.innerText;
        valorProduto = tdProduto.textContent || tdProduto.innerText;
        valorCliente = tdCliente.textContent || tdCliente.innerText;
        valorPreco = tdPreco.textContent || tdPreco.innerText;
        valorQuantidade = tdQuantidade.textContent || tdQuantidade.innerText;
        valorData = tdData.textContent || tdData.innerText;
        if (valorId.toUpperCase().indexOf(inputId.value.toUpperCase()) > -1 && valorProduto.toUpperCase().indexOf(inputProduto.value.toUpperCase()) > -1 && valorCliente.toUpperCase().indexOf(inputCliente.value.toUpperCase()) > -1 && valorPreco.toUpperCase().indexOf(inputPreco.value.toUpperCase()) > -1 && valorQuantidade.toUpperCase().indexOf(inputQuantidade.value.toUpperCase()) > -1 && valorData.toUpperCase().indexOf(inputData.value.toUpperCase()) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

</script>

<script src="/public/js/404.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</html>